<div class="col-md-12 p-l-0 p-r-0">
    <div class="panel">
        <div class="panel-header">
            <h3 class="m-t-0 m-b-0">
                <i class="fa fa-money"></i>
                <strong>Cobranças</strong>
                <small class="tip-header">ALTERAR SOMENTE SE NECESSÁRIO</small>
            </h3>

            <div class="control-btn">
                <button type="button" class="btn btn-primary btn-sm clickright" ladda="salvarEmpresaLoading" ng-click="salvarEmpresa('forms.formEmpresaCobranca')" style="margin-top:-10px;margin-right:2px">
                    <i class="fa fa-check"></i> &nbsp; Salvar
                </button>
            </div>
        </div>

        <div class="panel-body no-bottom p-t-0">
            <div class="malihu-list dropdown-menu-list panel-content widget-news" mh-scrollbar mcs-theme="minimal-dark" mcs-scroll-inertia="200">
                <form class="form-inverse space-down" role="form" name="forms.formEmpresaCobranca" autocomplete="off">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>
                                <strong>
                                    <span>Depósito Bancário</span>
                                </strong>
                            </h3>
                        </div>

                        <div class="col-md-2">
                            <label class="m-t-10">Ativo:</label>
                            <label class="switch">
                                <input class="switch-input" name="emp_ativo_deposito" id="emp_ativo_deposito" type="checkbox" ng-model="objEmpresa.emp_ativo_deposito">
                                <span class="switch-label" data-on="On" data-off="Off"></span>
                                <span class="switch-handle"></span>
                            </label>
                        </div>

                        <div ng-show="objEmpresa.emp_ativo_deposito" class="sample-show-hide">
                            <div class="col-md-10">
                                <div class="form-group m-b-0">
                                    <label>Informações</label>
                                    <textarea id="emp_info_deposito" name="emp_info_deposito" ng-model="objEmpresa.emp_info_deposito" class="form-control" placeholder="Entre com as informações para depósito..." cols="8" rows="8"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <h3>
                                <strong>
                                    <span>Cielo</span>
                                    <small class="small-link">
                                        <a href="https://minhaconta.cielo.com.br/wps/portal/est2/login" target="_blank">ACESSAR</a>
                                    </small>
                                </strong>
                            </h3>
                        </div>

                        <div class="col-md-2">
                            <label class="m-t-10">Ativo:</label>
                            <label class="switch">
                                <input class="switch-input" name="emp_ativo_cielo" id="emp_ativo_cielo" type="checkbox" ng-model="objEmpresa.emp_ativo_cielo">
                                <span class="switch-label" data-on="On" data-off="Off"></span>
                                <span class="switch-handle"></span>
                            </label>
                        </div>

                        <div ng-show="objEmpresa.emp_ativo_cielo" class="sample-show-hide">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label>MID ID (Cielo)</label>
                                    <input class="form-control" placeholder="MID ID (Cielo)" maxlength="100" name="emp_cielo_mid" id="emp_cielo_mid" ng-model="objEmpresa.emp_cielo_mid" type="text">
                                </div>
                            </div>

                            <div class="col-md-5">
                                <div class="form-group">
                                    <label>Cód. Estabelecimento (Cielo)</label>
                                    <input class="form-control" placeholder="Cód. Estabelecimento (Cielo)" maxlength="20" name="emp_cielo_estab" id="emp_cielo_estab" ng-model="objEmpresa.emp_cielo_estab" type="text">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <h3 class="m-t-20">
                                <strong>
                                    <span>PagSeguro</span>
                                    <small class="small-link">
                                        <a href="https://pagseguro.uol.com.br/" target="_blank">ACESSAR</a>
                                    </small>
                                </strong>
                            </h3>
                        </div>

                        <div class="col-md-2">
                            <label class="m-t-10">Ativo:</label>
                            <label class="switch">
                                <input class="switch-input" name="emp_ativo_pagseg" id="emp_ativo_pagseg" type="checkbox" ng-model="objEmpresa.emp_ativo_pagseg">
                                <span class="switch-label" data-on="On" data-off="Off"></span>
                                <span class="switch-handle"></span>
                            </label>
                        </div>

                        <div ng-show="objEmpresa.emp_ativo_pagseg" class="sample-show-hide">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label>E-mail PagSeguro</label>
                                    <input class="form-control" placeholder="E-mail PagSeguro" maxlength="255" name="emp_email_pagseg" id="emp_email_pagseg" ng-model="objEmpresa.emp_email_pagseg" type="text">
                                </div>
                            </div>

                            <div class="col-md-5">
                                <div class="form-group">
                                    <label>Token PagSeguro</label>
                                    <input class="form-control" placeholder="Token PagSeguro" maxlength="500" name="emp_token_pagseg" id="emp_token_pagseg" ng-model="objEmpresa.emp_token_pagseg" type="text">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <h3 class="m-t-20">
                                <strong>
                                    <span>GerenciaNet Boletos</span>
                                    <small class="small-link">
                                        <a href="https://accounts.gerencianet.com.br/cadastro/app/fortunus/lojistavirtual" target="_blank">ACESSAR</a>
                                    </small>
                                </strong>
                            </h3>
                        </div>

                        <div class="col-md-2">
                            <label class="m-t-10">Ativo:</label>
                            <label class="switch">
                                <input class="switch-input" name="emp_ativo_gn" id="emp_ativo_gn" type="checkbox" ng-model="objEmpresa.emp_ativo_gn">
                                <span class="switch-label" data-on="On" data-off="Off"></span>
                                <span class="switch-handle"></span>
                            </label>
                        </div>

                        <div ng-show="objEmpresa.emp_ativo_gn" class="sample-show-hide">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label>ID do Cliente</label>
                                    <input class="form-control" placeholder="ID do Cliente" maxlength="100" name="emp_gn_id" id="emp_gn_id" ng-model="objEmpresa.emp_gn_id" type="text">
                                </div>
                            </div>

                            <div class="col-md-5">
                                <div class="form-group">
                                    <label>Chave do Cliente</label>
                                    <input class="form-control" placeholder="Chave do Cliente" maxlength="100" name="emp_gn_secret" id="emp_gn_secret" ng-model="objEmpresa.emp_gn_secret" type="text">
                                </div>
                            </div>
                        </div>

                        <div ng-show="objEmpresa.emp_ativo_gn" class="sample-show-hide">
                            <div class="col-md-2">
                                <p></p>
                            </div>

                            <div class="col-md-10">
                                <h3 class="m-t-10">
                                    <strong>Instruções</strong>
                                    <small class="tip-header m-l-0">ADICIONE INSTRUÇÕES AOS BOLETOS BANCÁRIOS</small>
                                </h3>
                            </div>

                            <div class="col-md-2">
                                <p></p>
                            </div>

                            <div class="col-md-5">
                                <div class="panel panel-instrucoes">
                                    <div class="panel-header-form panel-form">
                                        <h5>
                                            <strong>Configuração</strong> de Juros
                                        </h5>
                                        <div class="control-btn">
                                            <label class="switch">
                                                <input class="switch-input" type="checkbox" name="emp_gn_juros" id="emp_gn_juros" ng-model="objEmpresa.emp_gn_juros" ng-change="setInstrucao('J')">
                                                <span class="switch-label" data-on="On" data-off="Off"></span>
                                                <span class="switch-handle"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="panel-content">
                                        <div class="form-group">
                                            <label>Juros ao dia</label>
                                            <div class="append-icon">
                                                <input class="form-control" placeholder="Juros ao dia..." name="emp_gn_vlr_juros" id="emp_gn_vlr_juros" ng-model="objEmpresa.emp_gn_vlr_juros" ng-keyup="upInstrucao('J')" ng-disabled="!objEmpresa.emp_gn_juros" type="text" ui-percentage-mask="3" onclick="this.select()">
                                                <i>%</i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-footer">
                                        <small>Use valor máximo de 0,033%, exceto se estiver previsto em contrato, neste caso o máximo é 0,33%.</small>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-5">
                                <div class="panel panel-instrucoes">
                                    <div class="panel-header-form panel-form">
                                        <h5>
                                            <strong>Configuração</strong> de Multa
                                        </h5>
                                        <div class="control-btn">
                                            <label class="switch">
                                                <input class="switch-input" type="checkbox" name="emp_gn_multa" id="emp_gn_multa" ng-model="objEmpresa.emp_gn_multa" ng-change="setInstrucao('M')">
                                                <span class="switch-label" data-on="On" data-off="Off"></span>
                                                <span class="switch-handle"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="panel-content">
                                        <div class="form-group">
                                            <label>Multa</label>
                                            <div class="append-icon">
                                                <input class="form-control" placeholder="Multa..." name="emp_gn_vlr_multa" id="emp_gn_vlr_multa" ng-model="objEmpresa.emp_gn_vlr_multa" ng-keyup="upInstrucao('M')" ng-disabled="!objEmpresa.emp_gn_multa" type="text" ui-percentage-mask="2" onclick="this.select()">
                                                <i>%</i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-footer">
                                        <small>Use valor máximo de 2,0%, exceto se estiver previsto em contrato, neste caso o máximo é 10,0%.</small>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <p></p>
                            </div>

                            <div class="col-md-10">
                                <div class="form-group">
                                    <label>Instrução 1</label>
                                    <input class="form-control" placeholder="Primeira instrução..." name="emp_gn_obs1" id="emp_gn_obs1" maxlength="80" ng-model="objEmpresa.emp_gn_obs1" type="text">
                                </div>
                            </div>

                            <div class="col-md-2">
                                <p></p>
                            </div>

                            <div class="col-md-10">
                                <div class="form-group">
                                    <label>Instrução 2</label>
                                    <input class="form-control" placeholder="Segunda instrução..." name="emp_gn_obs2" id="emp_gn_obs2" maxlength="80" ng-model="objEmpresa.emp_gn_obs2" type="text">
                                </div>
                            </div>

                            <div class="col-md-2">
                                <p></p>
                            </div>

                            <div class="col-md-10">
                                <div class="form-group">
                                    <label>Instrução 3</label>
                                    <input class="form-control" placeholder="Terceira instrução..." name="emp_gn_obs3" id="emp_gn_obs3" maxlength="80" ng-model="objEmpresa.emp_gn_obs3" type="text">
                                </div>
                            </div>

                            <div class="col-md-2">
                                <p></p>
                            </div>

                            <div class="col-md-10">
                                <div class="form-group">
                                    <label>Instrução 4</label>
                                    <input class="form-control" placeholder="Quarta instrução..." name="emp_gn_obs4" id="emp_gn_obs4" maxlength="80" ng-model="objEmpresa.emp_gn_obs4" type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
