<div class="row">
    <div class="col-md-3">
        <span class="btn btn-default btn-file btn-file-upload" ng-click="getFormUpload(produto.pro_cod_pro)">
            <i class="glyphicon glyphicon-plus icon-upload no-padding"></i>
        </span>
    </div>

    <!--
        <div ng-show="foto.show" class="col-md-8">
            <div ng-bind-html="htmlFotosProdutos"></div>
        </div>
    -->
</div>


<!--
    <input type="file" ngf-select ng-model="picFile" name="file" accept="image/*" required>

    <div ng-if="picFile">
        <div class="panel-header no-padding">
            <h3>
                <strong>Upload de Foto</strong>
            </h3>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="fileinput fileinput-new" data-provides="fileinput">
                    <div class="fileinput-new thumbnail">
                        <img ngf-src="picFile" class="img-responsive">
                    </div>
                    <div class="fileinput-preview fileinput-exists thumbnail"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <input type="hidden" name="mid_tab_cod" ng-model="foto.mid_tab_cod">
            <div class="col-md-12">
                <button ng-click="upload(picFile, $event)" class="btn btn-primary clickright" type="button">
                    <i class="fa fa-check"></i> Enviar
                </button>

                <button ng-click="cancelarUpload(picFile)" class="btn btn-danger" type="button">
                    <i class="fa fa-times"></i> Cancelar
                </button>
            </div>
        </div>
    </div>
-->