<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title modal-title-button">
                <button type="button" class="btn btn-primary btn-embossed bnt-square pull-left" data-dismiss="modal" ng-click="fecharModal('cancel')">
                    <i class="fa fa-arrow-left"></i> &nbsp; Voltar
                </button>

                <strong>Dados</strong> de Documentos Referenciados

                <button type="submit" class="btn btn-primary btn-embossed bnt-square pull-right m-r-0" data-dismiss="modal" ladda="salvarDocRefLoading" ng-click="salvarDocRef()">
                    <i class="fa fa-check"></i> &nbsp; Salvar
                </button>

            </h4>
        </div>
        <div class="modal-body">
            <!-- O formulário é apenas mostrado quando o modo de edição é habilitado. -->
            <!--<div id="box-edicao" class="sample-show-hide">-->
                <form name="forms.fVendaDocRef" class="form-validation" novalidate autocomplete="off" ng-submit="salvarDocRef()">


                    <div class="col-md-12" ng-if="objModal.v.codNatureza == '3' || objModal.v.codNatureza == '4' || objModal.v.codNatureza == '5' || (objModal.v.codNatureza == '6' && objModal.v.fin_tip_emitente == 'T')">
                        <!--<div class="panel col-md-12" style="background-color:#F7F7F7">-->
                            <div class="form-group">
                                <!--<h3 class="m-t-10 text-center">Documento Referenciado</h3>-->
                                <div class="">
                                    <div class="col-md-12 p-r-0 p-l-0" >
                                        <div class="form-group">
                                            <label>Modelo</label>
                                            <select class="form-control" ng-model="objModal.v.fin_modelo_referenciada" >
                                                <option value="0" selected>-- Selecione um modelo referenciado --</option>
                                                <option value="4">04 - Nota Fiscal de Produtor Rural</option>
                                                <option value="10">10 - Nota Fiscal Série Única</option>
                                                <option value="11">11 - Nota Fiscal Série D (Consumidor)</option>
                                                <option value="30">30 - Cupom Fiscal (emitido por ECF)</option>
                                                <option value="2">55 - Nota Fiscal Eletrônica</option>
                                                <option value="65">65 - Cupom Fiscal Eletrônica</option>
                                            </select>
                                        </div>

                                        <div class="row" ng-if="objModal.v.fin_modelo_referenciada == '4'">
                                            <div class="form-group col-md-6" >
                                                <label>Número Nota Fiscal</label>
                                                <input class="form-control" type="text" placeholder="Entre com o número..." ng-model="objModal.v.obs_doc_nro" >
                                            </div>
                                            <div class="form-group col-md-6" >
                                                <label>Data emissão NF</label>
                                                <input class="form-control" type="text" placeholder="Entre com a data..." ng-model="objModal.v.obs_doc_dat_emi" data-mask="99/99/9999" datepicker1>
                                            </div>
                                        </div>

                                        <div class="row" ng-if="objModal.v.fin_modelo_referenciada == '10'">
                                            <div class="form-group col-md-6" >
                                                <label>Número Nota Fiscal</label>
                                                <input class="form-control" type="text" placeholder="Entre com o número..." ng-model="objModal.v.obs_doc_nro" >
                                            </div>
                                            <div class="form-group col-md-6" >
                                                <label>Data emissão NF</label>
                                                <input class="form-control" type="text" placeholder="Entre com a data..." ng-model="objModal.v.obs_doc_dat_emi" data-mask="99/99/9999" datepicker1>
                                            </div>
                                        </div>

                                        <div class="row" ng-if="objModal.v.fin_modelo_referenciada == '11'">
                                            <div class="form-group col-md-6" >
                                                <label>Número Nota Fiscal</label>
                                                <input class="form-control" type="text" placeholder="Entre com o número..." ng-model="objModal.v.obs_doc_nro" >
                                            </div>
                                            <div class="form-group col-md-6" >
                                                <label>Data emissão NF</label>
                                                <input class="form-control" type="text" placeholder="Entre com a data..." ng-model="objModal.v.obs_doc_dat_emi"  data-mask="99/99/9999" datepicker1>
                                            </div>
                                        </div>

                                        <div class="row" ng-if="objModal.v.fin_modelo_referenciada == '30'">
                                            <div class="form-group col-md-6" >
                                                <label>Nro da impressora ECF</label>
                                                <input class="form-control" type="text" placeholder="Entre com o número..." ng-model="objModal.v.obs_doc_nro_ecf" maxlength="2" >
                                            </div>
                                            <div class="form-group col-md-6" >
                                                <label>COO do Cupom Fiscal</label>
                                                <input class="form-control" type="text" placeholder="Entre com o número..." ng-model="objModal.v.obs_doc_coo" >
                                            </div>
                                        </div>

                                        <div class="form-group" ng-if="objModal.v.fin_modelo_referenciada == '2'">
                                            <label>Chave NF-e</label>
                                            <input class="form-control" type="text" placeholder="Entre com o número da chave referenciada..." ng-model="objModal.v.obs_chave" >
                                        </div>

                                        <div class="form-group" ng-if="objModal.v.fin_modelo_referenciada == '65'">
                                            <label>Chave NF-e</label>
                                            <input class="form-control" type="text" placeholder="Entre com o número da chave referenciada..." ng-model="objModal.v.obs_chave" >
                                        </div>
                                    </div>
                                </div>
                            <!--</div>-->
                        </div>
                    </div>
                </form>
            <!--</div>-->
        </div>
    </div>
</div>