
<table class="table table-hover font-small m-b-0">
    <colgroup>
        <col width="90%">
        <col width="10%">
    </colgroup>
    <thead>
        <tr>
            <th>Documento</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Termo de Adesão</td>
            <td>
                <a class="btn btn-sm btn-success" ng-click="getTermo(1)" class="c-pointer">
                    <span>Imprimir</span>
                </a>
            </td>
        </tr>
        <tr>
            <td>Termo de Aceite</td>
            <td>
                <a class="btn btn-sm btn-success" ng-click="getTermo(2)" class="c-pointer">
                    <span>Imprimir</span>
                </a>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th class="t-right" colspan="2">
                <strong class="c-gray">TOTAL:</strong>
                <span>2</span>
            </th>
        </tr>
    </tfoot>
</table>