
<div class="col-md-4 p-r-0 p-l-0">
    <div class="panel">
        <div class="panel-header">
            <h3 class="m-b-20">
                <i class="fa fa-list"></i>
                <strong>Listagem</strong> de Cupons
            </h3>

            <!-- Adicionar novo Cupom. -->
            <div class="control-btn">
                <button type="button" class="btn btn-primary btn-sm pull-right" event-focus="click" event-focus-id="cup_descricao" ng-click="novoCupom()" id="bt-novo-cupom" style="margin-right:2px">
                    <i class="fa fa-plus"></i> Novo
                </button>
            </div>

            <!-- Pesquisar por cupons. -->
            <form class="form-inverse space-down m-t-20" autocomplete="off" role="search">
                <div class="append-icon" class="col-md-12">
                    <input type="text" class="form-control" placeholder="Pesquisar informações sobre descontos..." ng-model="pesquisaCupom.texto_cupom_pesquisar" ng-change="getPesquisar()">
                    <i class="icon-magnifier"></i>
                </div>
            </form>
        </div>

        <!-- Listagem dos cupons. -->
        <div class="panel-content panel-list panel-scroll" mh-scrollbar mcs-theme="minimal-dark" mcs-scroll-inertia="200" style="margin-top:13px">
            <div ng-include="'cupom-desconto/views/lista-cupom.html'"></div>
        </div>
    </div>
</div>


<!-- Painel inicial com manual: -->
<div class="col-md-8 p-r-0" ng-class="{'animated virtux' : flagTutorial === true, 'animated oculto' : flagTutorial === false}">
    <div ng-include="'home/views/tutorial.html'"></div>
</div>


<!-- Painel principal com formulário de cadastro e edição: -->
<div class="col-md-8 p-r-0" ng-class="{'animated virtux' : flagTutorial === false, 'animated oculto' : flagTutorial === true}">
    <div class="panel">
        <div class="panel-header">
            <div class="btn-reset">
                <button type="button" class="btn btn-sm btn-primary" ng-click="voltar()">
                    <i class="fa fa-arrow-left"></i> Voltar
                </button>
            </div>

            <h3 class="title-header">
                <span class="m-r-5">
                    <i class="fa fa-info"></i>
                    <strong>Dados</strong> do cupom
                </span>
                <strong ng-if="cupom.cup_nro_cup" style="color:#319DB5">#{{cupom.cup_nro_cup}}</strong>
            </h3>

            <div class="control-btn">
                <a class="panel-close btn-delete" ng-click="cancelarCupom()" title="{{nomeBotao}}">
                    <i class="fa fa-trash-o"></i>
                </a>
                <button type="button" class="btn btn-sm btn-primary clickright no-right" ladda="salvarCupomLoading" ng-click="salvarCupom(cupom.cup_nro_cup)" id="bt-salvar-cupom">
                    <i class="fa fa-check"></i> Salvar
                </button>
            </div>
        </div>


        <div class="panel-content" style="padding-top:1px">
            <form role="form" name="forms.formCupom" id="forms.formCupom" class="form-validation" autocomplete="off" novalidate>
                <tabset class="tab-fade-in">
                    <tab active="tabs[0].active">
                        <tab-heading>Principal</tab-heading>
                        <div class="panel-inner-less">
                            <div ng-include="'cupom-desconto/views/aba-cupom-principal.html'"></div>
                        </div>
                    </tab>
                </tabset>
            </form>
        </div>
    </div>
</div>
