
<div class="col-md-12 p-l-0 p-r-0">
    <div class="panel">
        <div class="panel-header b-bottom">
            <h3>
                <i class="fa fa-newspaper-o"></i>
                <span class="m-r-5">
                    <strong>Meu Perfil</strong>
                </span>
            </h3>
            <div class="control-btn">
                <button type="button" class="btn btn-primary btn-sm m-r-0" ladda="salvarAlterarSenhaLoading" ng-click="salvarAlterarSenha()">
                    <i class="fa fa-check"></i> &nbsp; Salvar
                </button>
            </div>
        </div>
        <div class="panel-content">
            <div class="row">
                <div ng-include="'meu-perfil/views/aba-alterar-senha.html'"></div>
            </div>
        </div>
    </div>
</div>
