<table class="table table-hover font-small m-b-0" id="grid-eo">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>Data Vct.</th>
            <th>Conc.</th>
            <th>Parc.</th>
            <th>Descrição</th>
            <th class="text-right">Total</th>
            <th class="text-center">Meio</th>
            <th class="text-center">PG</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in objSelecionados.objBancario.con_titulos" tr-checked="checkbox" class="c-pointer" ng-class="getBackground(item, 'EO')" ng-click="setSelecionado(item, 'EO')">
            <td class="td-fa p-5">
                <i class="fa fa-square-o"></i>
            </td>
            <td>
                <span class="table-span" tooltip-placement="bottom" tooltip="Emissão: {{item.tit_dat_lan | dateFormat}}">{{item.tit_dat_vct | dateFormat}}</span>
                <span class="label label-primary">{{item.tit_centro_custo.par_c01}}</span>
            </td>
            <td>
                <span>{{item.tit_con_cod_con}}</span>
            </td>
            <td>
                <span>{{item.tit_fatura_seq}}</span>/<span>{{item.tit_qtde_parcelas}}</span>
            </td>
            <td>
                <span class="table-span" tooltip-placement="top" tooltip="{{item.tit_cad_nome_razao}}">
                    {{item.tit_cad_nome_razao}}
                </span>
                <span class="label label-default label-border" tooltip-placement="top" tooltip="{{item.tit_descricao}}">
                    {{item.tit_descricao | strLimit:30}}
                </span>
            </td>
            <td>
                <div ng-switch on="item.tit_sistema">
                    <div class="text-right" ng-switch-when="1">
                        <span class="text-success" tooltip-placement="top" tooltip="Receita">
                            <strong>{{item.tit_doc_vlr_liquido | customCurrency}}</strong>
                        </span>
                    </div>
                    <div class="text-right" ng-switch-when="2">
                        <span class="text-danger" tooltip-placement="top" tooltip="Despesa">
                            <strong>{{item.tit_doc_vlr_liquido | customCurrency}}</strong>
                        </span>
                    </div>
                </div>
            </td>
            <td class="text-icon">
                <div if="item.tit_forma_pgto">
                    <i class="fa {{item.tit_forma_pgto.par_icone}}" tooltip-placement="top" tooltip="{{item.tit_forma_pgto.par_c01}}"></i>
                </div>
            </td>
            <td class="text-right text-icon">
                <div ng-switch on="item.tit_faturado">
                    <div ng-switch-when="0" tooltip-placement="top" tooltip="Débito">
                        <i class="fa fa-times-circle text-debito"></i>
                    </div>
                    <div ng-switch-when="3" tooltip-placement="top" tooltip="Pago">
                        <i class="fa fa-check-circle text-pago"></i>
                    </div>
                    <div ng-switch-default tooltip-placement="top" tooltip="Débito">
                        <i class="fa fa-times-circle text-debito"></i>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>