<div class="modal-dialog">
    <form enctype="multipart/form-data" method="POST" id="forms.formUploadModal" name="forms.formUploadModal" autocomplete="off" novalidate>
        <div class="modal-content">
            <div class="modal-header p-b-0">
                <h4 class="modal-title modal-title-button-sm">
                    <button type="button" class="btn btn-primary btn-sm pull-left m-0" data-dismiss="modal" ng-click="fecharModal('cancel')">
                        <i class="fa fa-arrow-left"></i> &nbsp; Voltar
                    </button>

                    <strong style="font-size:20px">Enviar Arquivo (.OFX)</strong>

                    <span class="pull-right">
                        <button ng-click="upload(picFile, $event)" ladda="salvarArquivoLoading" class="btn btn-primary btn-sm m-r-0" type="button">
                            <i class="fa fa-check"></i> &nbsp; Salvar
                        </button>
                    </span>
                </h4>
            </div>

            <div class="modal-body p-t-20" style="overflow:inherit!important">
                <div class="panel-content">
                    <div>
                        <div class="form-upload">
                            <div class="row">
                                <div class="col-md-12">
                                    <input class="custom-file-input" type="file" ngf-select ng-model="picFile" name="file" accept=".ofx" required>
                                </div>
                            </div>
                        </div>

                        <div class="form-upload m-t-10">
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="mid_descricao">Descrição <i class="obrigatorio">*</i></label>
                                    <input name="mid_descricao" id="mid_descricao" maxlength="255" class="form-control" placeholder="Digite uma descrição para o arquivo..." ng-model="objFile.mid_descricao">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>