<div class="modal-dialog">
    <form method="POST" id="forms.formCriarConciliacaoModal" name="forms.formCriarConciliacaoModal" autocomplete="off" novalidate>
        <div class="modal-content">
            <div class="modal-header p-b-0">
                <h4 class="modal-title modal-title-button-sm">
                    <button type="button" class="btn btn-primary btn-embossed btn-sm pull-left m-0" data-dismiss="modal" ng-click="fecharModal('cancel')">
                        <i class="fa fa-arrow-left"></i> &nbsp; Voltar
                    </button>

                    <strong style="font-size:20px">Conciliar {{objComponentes.descSistema}}</strong>

                    <span class="pull-right">
                        <button type="button" class="btn btn-primary btn-embossed btn-sm pull-right m-r-0" ladda="novaConciliacaoLoading" ng-click="salvarConciliacao()">
                            <i class="fa fa-check"></i> &nbsp; Salvar
                        </button>
                    </span>
                </h4>
            </div>

            <div class="modal-body p-t-10" style="overflow:inherit!important">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <hr class="m-b-10 m-t-5">
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12 m-b-10" ng-if="objConciliacao.objBancario.con_tipo_con === 0">
                                    <div class="btn-group btn-group-mc">
                                        <label class="btn btn-success m-b-0" ng-click="setComponentes(1)">Receita</label>
                                        <label class="btn btn-danger m-b-0" ng-click="setComponentes(2)">Despesa</label>
                                    </div>
                                </div>

                                <div class="col-md-12 m-b-10 box-lv-input">
                                    <input id="tit_cad_cod_cad" name="tit_cad_cod_cad" type="hidden" ng-model="objTituloFinan.tit_cad_cod_cad" required>

                                    <div ng-if="objComponentes.codSistema === 1">
                                        <label class="control-label">Cliente <i class="obrigatorio">*</i></label>
                                        <lv-autocomplete
                                            ng-model="objTituloFinan.pessoa"
                                            clear-input="false"
                                            trigger-list="true"
                                            icon-class="fa fa-user"
                                            obj-search="objComponentes.objDropdown.pessoa"
                                            search-limit="10"
                                            on-select="onSelectPessoa"
                                            add-select-item="addPessoa"
                                            place-holder="Pesquise por um cliente..."
                                            string-entity="cliente"
                                            string-service="cliente"
                                            display-property="cad_nome_razao"
                                            display-complement="cad_cpf_cnpj"
                                            confirm-add="true"
                                            trigger-blur="true"
                                            string-id="autocomplete-cliente">
                                        </lv-autocomplete>

                                        <!-- Botão para edição dos dados do cliente. -->
                                        <div ng-show="objTituloFinan.pessoa && objTituloFinan.pessoa != ' ' && objTituloFinan.tit_cad_cod_cad">
                                            <small class="link-append lv-plugin" ng-click="getJanelaCliente(objTituloFinan.tit_cad_cod_cad)">Editar</small>
                                        </div>

                                        <div class="m-0" ng-show="submitted || (forms.formCriarConciliacaoModal.tit_cad_cod_cad.$invalid && !forms.formCriarConciliacaoModal.tit_cad_cod_cad.$pristine)">
                                            <p class="text-danger form-error alert1 m-b-0 p-t-10" ng-show="(forms.formCriarConciliacaoModal.tit_cad_cod_cad.$error.required)">
                                                Cliente é um campo de preenchimento obrigatório.
                                            </p>
                                        </div>
                                    </div>

                                    <div ng-if="objComponentes.codSistema === 2">
                                        <label class="control-label">Fornecedor <i class="obrigatorio">*</i></label>
                                        <lv-autocomplete
                                            ng-model="objTituloFinan.pessoa"
                                            clear-input="false"
                                            trigger-list="true"
                                            icon-class="fa fa-user"
                                            obj-search="objComponentes.objDropdown.pessoa"
                                            search-limit="10"
                                            on-select="onSelectPessoa"
                                            add-select-item="addPessoa"
                                            place-holder="Pesquise por um fornecedor..."
                                            string-entity="fornecedor"
                                            string-service="cliente"
                                            display-property="cad_nome_razao"
                                            display-complement="cad_cpf_cnpj"
                                            confirm-add="true"
                                            trigger-blur="true"
                                            string-id="autocomplete-fornecedor">
                                        </lv-autocomplete>

                                        <!-- Botão para edição dos dados do fornecedor. -->
                                        <div ng-show="objTituloFinan.pessoa && objTituloFinan.pessoa != ' ' && objTituloFinan.tit_cad_cod_cad">
                                            <small class="link-append lv-plugin" ng-click="getJanelaCliente(objTituloFinan.tit_cad_cod_cad)">Editar</small>
                                        </div>

                                        <div class="m-0" ng-show="submitted || (forms.formCriarConciliacaoModal.tit_cad_cod_cad.$invalid && !forms.formCriarConciliacaoModal.tit_cad_cod_cad.$pristine)">
                                            <p class="text-danger form-error alert1 m-b-0 p-t-10" ng-show="(forms.formCriarConciliacaoModal.tit_cad_cod_cad.$error.required)">
                                                Fornecedor é um campo de preenchimento obrigatório.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 m-b-10">
                                    <label class="control-label" for="tit_descricao">Descrição <i class="obrigatorio">*</i></label>
                                    <input class="form-control" id="tit_descricao" name="tit_descricao" placeholder="Digite a descrição..." type="text" ng-model="objTituloFinan.tit_descricao" required>

                                    <div class="m-0" ng-show="submitted || (forms.formCriarConciliacaoModal.tit_descricao.$invalid && !forms.formCriarConciliacaoModal.tit_descricao.$pristine)">
                                        <p class="text-danger form-error alert1 m-b-0 p-t-10" ng-show="(forms.formCriarConciliacaoModal.tit_descricao.$error.required)">
                                            Descrição é um campo de preenchimento obrigatório.
                                        </p>
                                    </div>
                                </div>

                                <div class="col-sm-6 m-b-10">
                                    <label class="control-label">Forma de Pagamento</label>
                                    <lv-autocomplete
                                        ng-model="objTituloFinan.formaPagamento"
                                        clear-input="false"
                                        trigger-list="true"
                                        icon-class="fa fa-dollar"
                                        search-limit="10"
                                        on-select="onSelectFormaPagamento"
                                        add-select-item="addFormaPagamento"
                                        place-holder="Pesquise por uma forma de pagamento..."
                                        string-entity="forma de pagamento"
                                        string-service="formaPgto"
                                        display-property="par_c01"
                                        confirm-add="true"
                                        trigger-blur="true"
                                        string-id="autocomplete-pgto">
                                    </lv-autocomplete>
                                    <input type="hidden" ng-model="objTituloFinan.tit_6060_forma_pagamento">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 m-b-10">
                            <label class="control-label">Conta Financeira</label>
                            <input class="form-control" placeholder="Pesquise por uma conta financeira.." type="text" ng-model="objTituloFinan.contaFinanceira" readonly="readonly">
                            <input type="hidden" ng-model="objTituloFinan.tit_5010_conta_fin">
                        </div>

                        <div class="col-sm-3 m-b-10">
                            <div class="m-b-5">
                                <label>Situação</label><br>
                                <label class="switch switch-green m-b-0 m-t-0" style="width:100px">
                                    <input name="tit_faturado" id="tit_faturado" type="checkbox" class="switch-input" ng-model="objTituloFinan.tit_situacao_flag" ng-change="setDataAtual()">
                                    <span class="switch-label" data-on="{{objComponentes.descSitSistema}}" data-off="Aberto"></span>
                                    <span class="switch-handle"></span>
                                </label>
                            </div>
                        </div>

                        <div class="col-sm-3 m-b-10">
                            <label class="control-label">Subtotal</label>
                            <div class="append-icon">
                                <input class="form-control" placeholder="Subtotal..." type="text" ng-model="objTituloFinan.tit_doc_vlr_bruto" ui-money-mask="mdecimals" onclick="this.select()">
                                <i class="fa fa-money p-r-5"></i>
                            </div>
                        </div>

                        <div class="col-sm-6 m-b-10">
                            <label class="control-label">Centro de Custo</label>
                            <lv-autocomplete
                                ng-model="objTituloFinan.centroCusto"
                                clear-input="false"
                                trigger-list="true"
                                icon-class="fa fa-tag"
                                obj-search="objComponentes.objDropdown.centro"
                                search-limit="10"
                                on-select="onSelectCentroCusto"
                                add-select-item="addCentroCusto"
                                place-holder="Pesquise por um centro de custo..."
                                string-entity="centro de custo"
                                string-service="centroCusto"
                                display-property="par_c01"
                                confirm-add="true"
                                trigger-blur="true"
                                string-id="autocomplete-centro">
                            </lv-autocomplete>
                            <input type="hidden" ng-model="objTituloFinan.tit_6050_cdc">
                        </div>

                        <div class="col-sm-3 m-b-10">
                            <label class="control-label" ng-class="{'label-disabled' : !objTituloFinan.tit_situacao_flag}">
                                <small>{{objComponentes.descDataSistema}}</small>
                            </label>
                            <div class="append-icon">
                                <input class="form-control clear-disabled" maxlength="10" placeholder="{{objComponentes.descDataSistema}}..." type="text" ng-disabled="!objTituloFinan.tit_situacao_flag" ng-model="objTituloFinan.tit_dat_pgt" data-mask="99/99/9999" datepicker1>
                                <i class="fa fa-calendar p-r-5"></i>
                            </div>
                        </div>

                        <div class="col-sm-3 m-b-10">
                            <label class="control-label">Dt. de Vencimento</label>
                            <div class="append-icon">
                                <input class="form-control" maxlength="10" placeholder="Dt. de vencimento..." type="text" ng-model="objTituloFinan.tit_dat_vct" data-mask="99/99/9999" datepicker1>
                                <i class="fa fa-calendar p-r-5"></i>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <label class="control-label">Observações</label>
                            <textarea class="form-control" placeholder="Digite alguma observação..." cols="3" rows="5" ng-model="objTituloFinan.tit_observacao"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>