
<div class="col-md-12 p-l-0 p-r-0">
    <div class="panel p-m-h box-404">
        <div class="panel-content">
            <div class="row">
                <div class="col-md-6">
                    <div class="col-404">
                        <h1>Opa!</h1>
                        <p>Esse caminho não existe, talvez você esteja <strong>procurando por:</strong></p>
                        <p>
                            <ul>
                                <li>
                                    <a href="#/" title="Página Principal">Página Principal</a>
                                </li>
                                <li>
                                    <a href="#/cliente" title="Clientes">Clientes</a>
                                </li>
                                <li>
                                    <a href="#/produto" title="Produto">Produtos</a>
                                </li>
                                <li>
                                    <a href="#/venda" title="Vendas">Vendas</a>
                                </li>
                                <li>
                                    <a href="#/empresa/1" title="Empresa">Empresa</a>
                                </li>
                                <li>
                                    <a href="#/usuario" title="Usuários">Usuários</a>
                                </li>
                                <li>
                                    <a href="#/meu-plano" title="Meu Plano">Meu Plano</a>
                                </li>
                            </ul>
                        </p>
                        <p>Caso continue com problemas entre em contato por e-mail:</p>
                        <div class="btn-image">
                            <img alt="Contato" ng-src="../app/images/404-btn.png">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <img class="img-flashlight" alt="Página não encontrada" ng-src="../app/images/404-img.png">
                </div>
            </div>
        </div>
    </div>
</div>