<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-body">
            <h2 class="t-center">
                <strong>CONTRATO DE LICENCIAMENTO DE SOFTWARE E PRESTAÇÃO DE SERVIÇOS DE TECNOLOGIA DA INFORMAÇÃO</strong>
            </h2>

            <h4 class="t-center m-t-20">
                <strong>I – SUJEITOS DO CONTRATO</strong>
            </h4>

            <p class="p-5 m-0">
                <strong>Partes:</strong>
            </p>

            <p class="p-5 m-0">VIRTUX TECNOLOGIA, pessoa jurídica de direito privado, inscrita no CNPJ sob o n. 17.606.357/0001-10, com sede Rua Antúrios nº 439 – Sala 91, bairro Cidade Jardim, na cidade de Uberlândia-MG, denominada <strong>VIRTUX, CONTRATANTE,</strong> pessoa física <strong>ou</strong> jurídica que adquire a licença de uso do Software de computador e demais serviços deste contrato, <strong>mediante aceitação por meio eletrônico</strong>, a seguir denominada, simplesmente, contratante.</p>

            <p class="p-5 m-0">Em conjunto, <strong>VIRTUX</strong> e contratante denominadas "Partes" e, isoladamente, "Parte", dão forma regular e estável ao presente Contrato de Licenciamento de Software e Prestação de Serviços de Tecnologia da Informação ("Contrato"), <strong>mediante adesão por meio eletrônico</strong>.</p>

            <h4 class="t-center m-t-20">
                <strong>II - VONTADE CONTRATUAL</strong>
            </h4>

            <p class="p-5 m-0">
                <strong>Conhecimento e Vontade das Partes:</strong><br>
                <span>Considerando que:</span>
            </p>

            <p class="p-5 m-0">a) A <strong>VIRTUX</strong> é exclusiva detentora dos direitos autorais sobre o Software e suas marcas, podendo usar, fruir, gozar e dispor destes, especialmente para incremento tecnológico, alteração de versões, acordos comerciais, campanhas promocionais, dentre outras funcionalidades ou serviços que possam ser agregados, de forma onerosa ou gratuita.</p>

            <p class="p-5 m-0">b) A relação jurídica estabelecida entre as Partes não é de consumo, conforme artigo 2º do Código de Defesa do Consumidor, que dispõe acerca do conceito de consumidor.</p>

            <p class="p-5 m-0">c) A Contratante possui informação, independência e liberdade contratual que lhe permitem aderir ao presente Contrato e à Política de Privacidade do Software.</p>

            <h4 class="t-center m-t-20">
                <strong>III – DEFINIÇÕES</strong>
            </h4>

            <p class="p-5 m-0">
                <strong>Para Interpretação e Integração Contratual.</strong>
            </p>

            <p class="p-5 m-0">a) Atualização Tecnológica: incremento nas funcionalidades e/ou tecnologia do Software, resultando ou não em novas versões, disponibilizadas a critério da <strong>VIRTUX</strong>. A Atualização Tecnológica também poderá implicar em modificações que viabilizem integrações com o Software e/ou outros programas e outros serviços internos que visem manter seu funcionamento adequado.</p>

            <p class="p-5 m-0">b) Publicidade: imagens inseridas no Software a título de publicidade.</p>

            <p class="p-5 m-0">c) Customização: Parametrização do programa para se ajustar à necessidades operacionais ou ao perfil da empresa.</p>

            <p class="p-5 m-0">d) Consumidor: destinatário final de produtos ou serviços, nos termos do art. 2º e parágrafo único do Código de Defesa do Consumidor - Lei 8.078, de 11 de setembro de 1990.</p>

            <p class="p-5 m-0">e) Funcionalidades On Line: são partes integrantes do Software que necessitam conexão à internet para fins de uso e/ou ativação e/ou atualização.</p>

            <p class="p-5 m-0">f) Informações do Negócio: base de dados financeiros, administrativos, fiscais, contábeis, de produção e afins a serem inseridos no Software.</p>

            <p class="p-5 m-0">g) Lojista: é o varejista, franqueado, representante comercial ou revenda, cujo estabelecimento ou ponto de venda utiliza o Software na comercialização de Produtos ou Serviços.</p>

            <p class="p-5 m-0">h) Mensagem de Dados: emprega-se o conceito da Lei Modelo da UNCITRAL sobre comércio eletrônico, de 1996 (art. 2), considerando como tal toda informação gerada, enviada, recebida ou comunicada por meio eletrônico, ou similar.</p>

            <p class="p-5 m-0">i) Parceiros Comerciais: empresas cujos Produtos ou Serviços passam a integrar o Software.</p>

            <p class="p-5 m-0">j) Plug-In: programa de computador que agrega funções especiais ao Software.</p>

            <p class="p-5 m-0">k) Produtos ou Serviços: bens ou serviços produzidos ou comercializados pelo Fabricante, Lojistas, Parceiros Comerciais ou pela <strong>VIRTUX</strong>, que compõem o Software.</p>

            <p class="p-5 m-0">l) Política de Privacidade: regras sobre privacidade, uso e transmissão de dados, as quais o Contratante adere mediante assinatura e/ou aceite deste Contrato.</p>

            <p class="p-5 m-0">m) Software: programa de computador em suas diferentes versões e funcionalidades, de propriedade exclusiva da VIRTUX, protegido e regulado pela Lei 9.609/98.</p>

            <p class="p-5 m-0">n) Solicitações: canal de atendimento disponível no Portal do Produto.</p>

            <p class="p-5 m-0">o) Suporte: Serviço de atendimento para esclarecimento de dúvidas quanto à instalação e utilização do Software.</p>

            <p class="p-5 m-0">p) Usuário: pessoa física que utiliza o Software licenciado.</p>

            <h4 class="t-center m-t-20">
                <strong>IV - CONDIÇÕES GERAIS DA CONTRATAÇÃO</strong>
            </h4>

            <p class="p-5 m-0">
                <strong>Acordo geral de licenciamento de uso do Software e serviços.</strong>
            </p>

            <h4 class="p-5 m-t-10">
                <strong>1) OBJETO</strong>
            </h4>

            <p class="p-5 m-0">Este Contrato tem por objeto o licenciamento de uso do Software: LOJISTA VIRTUAL.</p>

            <p class="p-5 m-0">1.1. Para fins de especificar condições <strong>particulares</strong> da contratação, as Partes poderão valer-se de documentação complementar, tais como: Adendos, Anexos, Propostas, Contratos.</p>

            <p class="p-5 m-0">1.2. Licenças de uso e serviços adicionais poderão ser objeto de contratação específica, mediante documentação própria.</p>

            <p class="p-5 m-0">1.3. As disposições previstas neste instrumento são aplicadas pela <strong>VIRTUX</strong> em conformidade com a versão do Software contratado.</p>

            <h4 class="p-5 m-t-20 h-lh">
                <strong>2) DIREITOS AUTORAIS - A VIRTUX é exclusiva proprietária e detentora dos direitos autorais sobre o Software e Plug-Ins, protegidos e regulados pela Lei 9.609/98.</strong>
            </h4>

            <p class="p-5 m-0">2.1. A infração aos direitos autorais da <strong>VIRTUX</strong> implica em indenização por perdas e danos na forma da lei. 2.2. Dentre outras práticas ilegais, considera-se violação de direitos autorais da <strong>VIRTUX</strong> a utilização, modificação, comercialização ou integração desautorizada do Software.</p>

            <p class="p-5 m-0">2.2. Referidos direitos, para fins de auditoria e verificação de contrafação, pirataria ou uso indevido do Software, conferem à VIRTUX livre acesso ao ambiente computacional dos Usuários.</p>

            <h4 class="p-5 m-t-20">
                <strong>3) MARCAS E WEBSITE</strong>
            </h4>

            <p class="p-5 m-0">3.1. AS MARCAS: <strong>VIRTUX</strong>, LOJISTA VIRTUAL, CDLnfe, Emissor-NFE, são marcas de propriedades da <strong>VIRTUX</strong> TECNOLOGIA.</p>

            <p class="p-5 m-0">3.2. Está proibida a utilização das marcas do item 3.1, que incluem o nome, logotipo e signos, salvo mediante consentimento expresso da <strong>VIRTUX</strong>.</p>

            <p class="p-5 m-0">3.3. Estão reservados à <strong>VIRTUX</strong> todos os direitos autorais relativos ao website, desenho, programação, conteúdo, ficando expressamente proibida a reprodução, comunicação, distribuição e transformação dos referidos elementos protegidos, salvo mediante consentimento expresso da <strong>VIRTUX</strong>.</p>

            <h4 class="p-5 m-t-20">
                <strong>4) LICENÇA DE USO - A licença de uso do Software pressupõe:</strong>
            </h4>

            <p class="p-5 m-0">4.1. A aquisição e o adimplemento do preço da licença e dos serviços;</p>

            <p class="p-5 m-0">4.2. Conexão à internet para ativação da licença;</p>

            <p class="p-5 m-0">4.3. Conexão à internet para validação periódica da licença; </p>

            <p class="p-5 m-0">4.4. Conexão à internet para utilização de Funcionalidades On Line;</p>

            <p class="p-5 m-0">4.5. O uso em conformidade com a quantidade de usuários contratados.</p>

            <p class="p-5 m-0">4.6. O respeito e adesão à Política de Privacidade do Software e aos direitos fundamentais a privacidade, imagem e regras de preservação de dados, inclusive condições comerciais, pedidos, registros pessoais e cadastrais.</p>

            <p class="p-5 m-0">4.7. A responsabilidade da Contratante com relação aos dados transmitidos por meio do Software.</p>

            <p class="p-5 m-0">4.8. A responsabilidade da Contratante com relação às Informações do Negócio inseridas no Software.</p>

            <p class="p-5 m-0">4.9. A responsabilidade da Contratante por prejuízos que a <strong>VIRTUX</strong> venha a suportar em decorrência da relação desta com Fabricantes, Lojistas, Usuários e Consumidores, obrigando-se a ressarci-la no montante dos prejuízos.</p>

            <p class="p-5 m-0">4.10. A responsabilidade da Contratante em informar sobre bloqueio ou restrições de uso do Software, mediante comunicação inequívoca à <strong>VIRTUX</strong>.</p>

            <p class="p-5 m-0">4.11. A licença e os direitos decorrentes deste contrato não podem ser transferidos a terceiros sem autorização expressa da <strong>VIRTUX</strong>.</p>

            <p class="p-5 m-0">4.12. A violação das regras de licenciamento é causa de rescisão, sujeita à multa contratual e reparação por perdas e danos.</p>

            <h4 class="p-5 m-t-20">
                <strong>5) PUBLICIDADE COMERCIAL:</strong>
            </h4>

            <p class="p-5 m-0">5.1. A <strong>VIRTUX</strong> poderá executar programas promocionais e de marketing por meio do Software, ou explorar espaço publicitário nas telas do programa, podendo restringi-los a determinadas regiões, Fabricantes, Lojistas, Parceiros Comerciais, Usuários e Consumidores.</p>

            <h4 class="p-5 m-t-20">
                <strong>6) CUSTOMIZAÇÃO: implementação de novas funcionalidades não disponível na versão contratada.</strong>
            </h4>

            <p class="p-5 m-0">6.1. A <strong>VIRTUX</strong> poderá customizar o Software mediante solicitação da Contratante, podendo ser gratuita ou onerosa,</p>

            <p class="p-5 m-0">6.2. Os serviços de customização serão demandados mediante documento escrito, inclusive por Mensagem de Dados.</p>

            <p class="p-5 m-0">6.3. A Contratante é responsável pelos dados e imagens de Produtos e Serviços para inserção no Software.</p>

            <p class="p-5 m-0">6.4. A Contratante é responsável pelas Informações do Negócio para inserção no Software.</p>

            <p class="p-5 m-0">6.5. O atraso no envio de informações pela Contratante poderá impactar no prazo da Customização.</p>

            <p class="p-5 m-0">6.6. A Customização pressupõe viabilidade técnica, adimplemento do preço destes serviços e das demais obrigações da Contratante.</p>

            <p class="p-5 m-0">6.7. Os serviços de Customização poderão ser aditados a qualquer momento, mediante contratação adicional, sujeita à revisão de preço e prazo de implementação.</p>

            <p class="p-5 m-0">6.8. Algumas versões do Software permitem a customização de determinadas funções diretamente pelo Contratante, o que não impacta nos direitos autorais que se mantém exclusivamente com a <strong>VIRTUX</strong>.</p>

            <p class="p-5 m-0">6.9. Nas versões do Software que permitem customização pelo Contratante a <strong>VIRTUX</strong> não é responsável pelo resultado da mesma. </p>

            <h4 class="p-5 m-t-20">
                <strong>7) SUPORTE TÉCNICO:</strong>
            </h4>

            <p class="p-5 m-0">7.1. O Suporte será disponibilizado ou acessado por meio dos seguintes recursos:</p>

            <p class="p-5 m-0 paragrafo">7.1.1.Página de Suporte;</p>

            <p class="p-5 m-0 paragrafo">7.1.2.Contato telefônico;</p>

            <p class="p-5 m-0 paragrafo">7.1.3. E-mail e Solicitações;</p>

            <p class="p-5 m-0 paragrafo">7.1.4. Chats;</p>

            <p class="p-5 m-0 paragrafo">7.1.5 Visitas presenciais, de acordo com orçamento prévio.</p>

            <p class="p-5 m-0 paragrafo">7.1.6. Outros canais de serviços disponibilizados a critério da <strong>VIRTUX</strong>.</p>

            <p class="p-5 m-0">7.2. Ressalvadas condições especiais, o atendimento para Suporte será disponibilizado em dias úteis e horário comercial, com resposta em tempo compatível com a complexidade do questionamento.</p>

            <p class="p-5 m-0">7.3. O Suporte implica na obrigatoriedade da utilização da versão atual do Software.</p>

            <p class="p-5 m-0">7.4. Considera-se versão atual aquela disponibilizada à Contratante para atualização.</p>

            <p class="p-5 m-0">7.5. A Atualização Tecnológica dar-se-á mediante conexão à internet.</p>

            <p class="p-5 m-0">7.6. A falta de pagamento da mensalidade implica no bloqueio imediato da licença de uso do Software e/ou do Plug-in.</p>

            <p class="p-5 m-0">7.7. O desbloqueio e restabelecimento da licença de uso Software e dos serviços de Suporte e Atualização Tecnológica ficam condicionados ao pagamento atualizado dos valores pendentes.</p>

            <h4 class="p-5 m-t-20">
                <strong>7) CONDIÇÕES COMERCIAIS:</strong>
            </h4>

            <p class="p-5 m-0">8.1. O preço e condições comerciais deste Contrato estão previstos na Proposta Comercial disponível no site do produto.</p>

            <p class="p-5 m-0">8.2. Caso a Contratante solicite novos serviços, licenças ou Customização, será apresentada nova proposta que, após aceitação, integrará este Contrato.</p>

            <p class="p-5 m-0">8.3. Os valores deste Contrato serão atualizados anualmente, ou na menor periodicidade autorizada por lei, pela variação positiva do IGPM da Fundação Getúlio Vargas ou do IPCA, e na extinção destes, por outro índice que os substituam.</p>

            <p class="p-5 m-0">8.4. Em caso de inadimplemento, o acesso ao Software e a prestação dos serviços serão restabelecidos após a regularização dos pagamentos em atraso, acrescidos de juros de 1% ao mês, multa de 2%, correção monetária pela variação do IGPM da Fundação Getúlio Vargas ou outro índice que o substitua e demais custos de cobrança.</p>

            <p class="p-5 m-0">8.5. Em caso de pagamento por cartão de crédito, a <strong>VIRTUX</strong> poderá cadastrá-lo para renovação de licença.</p>

            <p class="p-5 m-0">8.6. A rescisão imotivada pela Contratante não exime a obrigação do pagamento da licença e serviços prestados.</p>

            <p class="p-5 m-0">8.7. O inadimplemento dos valores devidos à <strong>VIRTUX</strong> autoriza o registro do nome do devedor nos cadastros de inadimplência, bem como a cobrança extrajudicial e/ou judicial do débito.</p>

            <p class="p-5 m-0">8.8. Renegociações de preço, prazo, condições de pagamento não eximirão a Contratante do cumprimento das demais obrigações contratuais, nem tampouco impactarão nos direitos da <strong>VIRTUX</strong> previstos na cláusula 8.</p>

            <h4 class="p-5 m-t-20">
                <strong>9) GARANTIA E VALIDADE TÉCNICA:</strong>
            </h4>

            <p class="p-5 m-0">9.1. Conforme a vigência contratual, a <strong>VIRTUX</strong> garante a prestação de serviços relativos ao adequado funcionamento do Software.</p>

            <p class="p-5 m-0">9.2. A má utilização do Software resultará na perda da garantia.</p>

            <p class="p-5 m-0">9.3. O exercício da garantia pressupõe o atendimento das instruções de instalação do Software, disponibilizadas no website da <strong>VIRTUX</strong>.</p>

            <p class="p-5 m-0">9.4. O Software será considerado adequado desde que suficiente na utilização para os fins a que se destina segundo suas especificações técnicas.</p>

            <p class="p-5 m-0">9.5. A Contratante se responsabiliza por manter hardware, conexão à internet e demais softwares nos padrões estabelecidos pelos seus fornecedores e adequados à tecnologia do Software.</p>

            <p class="p-5 m-0">9.6. Por tratar-se de bem móvel imaterial, sujeito a adaptações e incremento tecnológico, a <strong>VIRTUX</strong> não garante que o Software não apresentará erros, mas fará o possível para consertá-los caso ocorram.</p>

            <h4 class="p-5 m-t-20">
                <strong>10) RESPONSABILIDADE:</strong>
            </h4>

            <p class="p-5 m-0">As Partes reconhecem e declaram que a responsabilidade pelo uso do Software é de meios e não de resultado, limitada às seguintes disposições:</p>

            <p class="p-5 m-0">10.1. Obrigações da <strong>VIRTUX</strong>: A <strong>VIRTUX</strong> desenvolve e licencia softwares e se responsabiliza pela qualidade dos mesmos e de seus profissionais, nos termos da Lei e dos contratos que estabelece com seus Clientes.</p>

            <p class="p-5 m-0">10.2. Acesso à plataforma e ao ambiente técnico: A <strong>VIRTUX</strong> disponibiliza suporte técnico nos termos do item 7.</p>

            <p class="p-5 m-0">10.3. Mau uso - A <strong>VIRTUX</strong> não se responsabiliza por danos decorrentes de mau uso ou inabilidade da Contratante ou de terceiros em transmitir, receptar, inserir e extrair informações do Software. A <strong>VIRTUX</strong>, igualmente não é responsável pela interpretação que a Contratante fizer da legislação fiscal-tributária, uso do Software e Informações do Negócio nele inseridas.</p>

            <p class="p-5 m-0">10.5. Integração - A <strong>VIRTUX</strong> não se responsabiliza pela integração desautorizada do Software com outros softwares e/ou com o ambiente computacional da Contratante que possam gerar ineficiência ou distorções de dados.</p>

            <p class="p-5 m-0">10.6. Back-Up – A Contratante é responsável pela manutenção, preservação e back-up de seus dados.</p>

            <p class="p-5 m-0">10.7. Fato de Terceiro - Para fins deste Contrato, as Partes reconhecem que o Software é seguro, todavia, assim como ocorre em outros ambientes virtuais, está sujeito a ameaças e violação criminosa, sendo estas causas excludentes da responsabilidade das Partes. Ainda, as tecnologias web são suportadas por serviços de comunicação, tais como, internet e rede de telecomunicações, não oferecidos pela VIRTUX e que podem impactar no desempenho dos Softwares, sendo estes fatos de terceiros, excludentes da responsabilidade das Partes.</p>

            <p class="p-5 m-0">10.8. Data Center - A <strong>VIRTUX</strong> poderá contratar infraestrutura de Data Center junto a terceiros.</p>

            <p class="p-5 m-0">10.9. Dever de Colaboração Recíproca – Cada Parte deverá fornecer assistência razoável à outra, sem nenhum custo, para responder auditorias regulatórias, inspeções, inquéritos ou pedidos de autoridade relativos ao Software ou serviços e dados das Bibliotecas.</p>

            <p class="p-5 m-0">10.10. Informação – A Contratante deverá notificar a <strong>VIRTUX</strong> de qualquer informação que receber sobre a segurança do Software, incluindo informação confirmada ou não confirmada sobre eventos adversos, graves ou inesperados associados com o uso do mesmo.</p>

            <p class="p-5 m-0">10.11. Caso Fortuito ou Força Maior - As Partes não responderão por prejuízos resultantes de caso fortuito ou força maior, nos termos do Artigo 393, do Código Civil.</p>

            <p class="p-5 m-0">10.12. Exemplos de Caso Fortuito ou Força Maior - dentre outros, são exemplos de Caso Fortuito ou Força Maior que excluem a responsabilidade das Partes, os seguintes eventos:</p>

            <p class="m-0 p-item">a) falhas decorrentes de um fato ou impedimento além do controle razoável das Partes;</p>

            <p class="m-0 p-item">b) atos ou fatos cuja inconformidade as Partes não poderiam razoavelmente esperar ou levar em conta no momento da conclusão do Contrato;</p>

            <p class="m-0 p-item">c) fatos que as Partes não poderiam razoavelmente ter evitado ou superado seus efeitos, inclusive ações maliciosas, intervenção de softwares de terceiros, antivírus, firewall, proxy, dentre outros;</p>

            <p class="m-0 p-item">d) guerra (declarada ou não), conflitos armados ou ameaça grave destes, ataque hostil, bloqueio, embargo militar, invasão, ato de inimigo estrangeiro, guerra civil, rebelião, motim e revolução, comoção ou desordem, violência de multidão ou ato de desobediência civil;</p>

            <p class="m-0 p-item">e) ato de sabotagem, terrorismo ou pirataria, inclusive pirataria virtual;</p>

            <p class="m-0 p-item">f) ato de autoridade, regulação, expropriação ou aquisição compulsória;</p>

            <p class="m-0 p-item">g) fatos da natureza, pestes, epidemia, desastres naturais como tempestade, ciclone, tufão, furacão, relâmpago, tornado, tempestade violenta, terremoto, atividades vulcânicas; deslizamento de terras, maremoto, tsunami, inundação, danos ou destruição pela seca;</p>

            <p class="m-0 p-item">h) explosão, incêndio, raio, destruição de máquinas, equipamentos, fábricas, e de qualquer tipo de instalação, break-down de transportes, telecomunicações ou de corrente elétrica;</p>

            <p class="m-0 p-item">i) perturbação geral no trabalho, como boicote, greve, lock-out, ocupação de fábricas e instalações.</p>

            <p class="p-5 m-0">10.13. Limitação da Responsabilidade: Respeitadas às previsões legais relativas a esta espécie de Contrato, a <strong>VIRTUX</strong> não será responsabilizada pelo uso abusivo do Software ou serviços quando o Usuário pratica ofensa, difamação, ameaça, assédio, contrafação ou outras formas de violação de direitos pessoais ou proprietários, inclusive por lucros cessantes, perda de dados, descontinuidade de negócios, relacionados ao uso ou mau uso do Software, mesmo nos casos em que a <strong>VIRTUX</strong> tenha sido comunicada.</p>

            <h4 class="p-5 m-t-20">
                <strong>11) VIGÊNCIA CONTRATUAL E PRORROGAÇÃO DO CONTRATO:</strong>
            </h4>

            <p class="p-5 m-0">11.1. Este Contrato entra em vigor na data da sua assinatura ou adesão ou aceite digital.</p>

            <p class="p-5 m-0">11.2. O Contrato poderá ser rescindido a qualquer tempo, mediante notificação expressa com 30 (trinta) dias de antecedência.</p>

            <p class="p-5 m-0">11.3. Este Contrato poderá ser rescindido pelas Partes de pleno direito, independentemente de notificação ou interpelação, a qualquer tempo, no caso de inadimplemento de qualquer cláusula, sem prejuízo de indenização por perdas e danos.</p>

            <p class="p-5 m-0">11.4. O Contrato poderá ser rescindido de pleno direito nos casos de falência, recuperação judicial, extrajudicial ou liquidação.</p>

            <h4 class="p-5 m-t-20">
                <strong>12) MANIFESTAÇÃO DE VONTADE</strong>
            </h4>

            <p class="p-5 m-0">12.1. As cláusulas deste Contrato foram lidas e revisadas por pessoa capaz e sua assinatura ou adesão pressupõe a assunção da totalidade das obrigações nele previstas.</p>

            <p class="p-5 m-0">12.2. As Partes reconhecem que este Contrato é celebrado livremente e de comum acordo, e suas condições são proporcionais, não existindo vícios ou defeitos que possam acarretar a sua nulidade, em especial relacionados com dolo, erro, fraude, simulação ou coação, inexistindo qualquer fato que possa ser configurado como estado de perigo ou de necessidade.</p>

            <h4 class="p-5 m-t-20">
                <strong>13) PREVALÊNCIA SOBRE DISPOSIÇÕES ANTERIORES</strong>
            </h4>

            <p class="p-5 m-0">13.1. As disposições, termos e condições deste Contrato prevalecerão sobre quaisquer outros entendimentos ou acordos anteriores.</p>

            <h4 class="p-5 m-t-20 h-lh">
                <strong>14) DISPONIBILIDADE DE DIREITOS:</strong>
            </h4>

            <p class="p-5 m-0">A abstenção do exercício de quaisquer direitos ou faculdades ou a concordância com atrasos no cumprimento de obrigações serão considerados atos de liberalidade, não configurando novação ou alteração de condições contratuais.</p>

            <h4 class="p-5 m-t-20 h-lh">
                <strong>15) MENSAGEM DE DADOS:</strong>
            </h4>

            <p class="p-5 m-0">Para fins deste Contrato é reconhecida a validade da Mensagem de Dados nas comunicações contratuais, com equivalência probatória e funcional aos documentos em suporte de papel, desde que observada a efetividade da comunicação, sua integridade, autenticidade e a segurança do meio pelo qual são transmitidas.</p>

            <h4 class="p-5 m-t-20 h-lh">
                <strong>16) SIGILO DE INFORMAÇÕES</strong>
            </h4>

            <p class="p-5 m-0">16.1. As Partes deverão observar a Política de Privacidade do Software.</p>

            <p class="p-5 m-0">16.2. Este Contrato possui dados e informações que devem ser preservados em sigilo, sob pena de responsabilidade.</p>

            <p class="p-5 m-0">16.3. É vedado o acesso não autorizado aos códigos-fonte do Software, sob pena de indenização e multa por parte do infrator.</p>

            <p class="p-5 m-0">16.4. A Contratante permite, de acordo com a Política de Privacidade, que dados sejam transmitidos por meio do Software, para atender funcionalidades específicas, ações comerciais, promocionais e financiamento de operações, mediante autorização por Mensagem de Dados.</p>

            <p class="p-5 m-0">16.5. Em caso de fusão, aquisição ou venda de participação societária pela <strong>VIRTUX</strong>, os dados, em sua totalidade, poderão ser transferidos ao terceiro envolvido.</p>

            <h4 class="p-5 m-t-20 h-lh">
                <strong>17) INDENIZAÇÃO E MULTA:</strong>
            </h4>

            <p class="p-5 m-0">A violação das obrigações previstas neste Contrato resultará ao infrator o dever de indenizar por perdas e danos, além de multa contratual a ser fixada por arbitramento, conforme as circunstâncias do caso.</p>

            <h4 class="p-5 m-t-20 h-lh">
                <strong>18) INDEPENDÊNCIA DAS DISPOSIÇÕES:</strong>
            </h4>

            <p class="p-5 m-0">Caso qualquer cláusula deste Contrato seja julgada inválida, nula ou inaplicável por qualquer juízo competente, as demais cláusulas permanecerão válidas e em pleno vigor, como se tal invalidade, nulidade ou inaplicabilidade não tivesse ocorrido.</p>

            <h4 class="p-5 m-t-20 h-lh">
                <strong>19) TOLERÂNCIA:</strong>
            </h4>

            <p class="p-5 m-0">Qualquer tolerância entre as Partes com relação a inadimplemento ou não cumprimento de obrigação, cláusula, termo ou condição aqui estabelecida, não constitui precedente, renúncia a obrigações, emenda ou novação ao Contrato, os quais somente se operam mediante acordo escrito entre as partes.</p>

            <h4 class="p-5 m-t-20 h-lh">
                <strong>20) VINCULAÇÃO DAS PARTES E SUCESSORES:</strong>
            </h4>

            <p class="p-5 m-0">Pelas obrigações previstas neste Contrato ficam vinculadas as Partes, seus herdeiros ou sucessores, a qualquer título e a qualquer tempo, de forma irretratável e irrevogável.</p>

            <h4 class="p-5 m-t-20 h-lh">
                <strong>21) LEI APLICÁVEL:</strong>
            </h4>

            <p class="p-5 m-0">O presente Contrato será regido pela legislação do Brasil</p>

            <h4 class="p-5 m-t-20 h-lh">
                <strong>22) FORO:</strong>
            </h4>

            <p class="p-5 m-0">Ressalvados os direitos de Consumidor, em que prevalece o foro do domicílio deste, qualquer questão ou controvérsia decorrente do presente Contrato será dirimida no foro da Comarca de UBERLANDIA - MG, com renúncia expressa a qualquer outro.</p>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default btn-embossed" ng-click="imprimir()">
                <span>Imprimir</span>
            </button>
            <button type="button" class="btn btn-primary btn-embossed" ng-click="aceitar()" ladda="termoAceiteSimLoading" ng-disabled="termoAceiteNaoLoading">
                <span>Aceitar</span>
            </button>
            <button type="button" class="btn btn-danger btn-embossed" ng-click="negar()" ladda="termoAceiteNaoLoading" ng-disabled="termoAceiteSimLoading">
                <span>Recusar</span>
            </button>
        </div>
    </div>
</div>
