
<div class="col-md-12 p-r-0 p-l-0">
    <div class="panel p-m-h">
        <div class="panel-header">
            <h3></h3>
        </div>

        <div class="panel-content p-t-0 panel-wizard">
            <div class="row">
                <div class="wizard" data-style="circle">
                    <div class="wizard-arrow">
                        <fieldset>
                            <legend>Empresa</legend>
                            <div ng-include="'home/views/wizard-1.html'"></div>
                        </fieldset>

                        <fieldset>
                            <legend>Módulos</legend>
                            <div ng-include="'home/views/wizard-2.html'"></div>
                        </fieldset>

                        <fieldset>
                            <legend>Conclusão</legend>
                            <div ng-include="'home/views/wizard-3.html'"></div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>