
<!-- Funções para saldo final, totalizar entradas e saídas! -->
<!-- Criar relatório em PDF e Excel. -->

<div ng-class="{'animated fadeIn' : objComponentes.search, 'animated fadeOutDown oculto' : !objComponentes.search}">
    <uib-accordion close-others="true">
        <div uib-accordion-group class="panel-default" heading="Filtros Adicionais" is-open="true">
            <div class="row">
                <div class="col-md-12">
                    <p>
                        <strong>Elabore os filtros para a geração do relatório de {{objRelatorio.par_c01}}:</strong>
                    </p>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <p><strong>Natureza</strong></p>
                                <div class="input-group">
                                    <div class="icheck-inline">
                                        <label ng-repeat="natureza in arrNaturezasMovimentacao" for="na-{{natureza.id}}" style="display:block">
                                            <input class="icheck" id="na-{{natureza.id}}" data-checklist-model="objFiltro.list_001" data-checklist-value="natureza.id" icheck type="checkbox">
                                            <span>{{natureza.name}}</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Dt. emissão ínicio</label>
                                <input class="form-control" ng-model="objFiltro.date_001" maxlength="10" placeholder="Dt. emissão ínicio..." data-mask="99/99/9999" datepicker1 type="text">
                            </div>

                            <div class="form-group">
                                <label>Dt. emissão final</label>
                                <input class="form-control" ng-model="objFiltro.date_002" maxlength="10" placeholder="Dt. emissão final..." data-mask="99/99/9999" datepicker1 type="text">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>CFOP</label>
                                <input class="form-control" ng-model="objFiltro.code_001" maxlength="10" placeholder="CFOP..." valid-number type="text">
                            </div>

                            <div class="form-group">
                                <label>Número de documento</label>
                                <input class="form-control" ng-model="objFiltro.code_002" maxlength="10" placeholder="Número de documento..." valid-number type="text">
                            </div>
                        </div>

                        <div class="col-md-8">
                            <div class="form-group m-b-0">
                                <label>Descrição do produto</label>
                                <input class="form-control" ng-model="objFiltro.string_001" maxlength="80" placeholder="Descrição do produto..." type="text">
                            </div>
                        </div>
                    </div>

                    <div class="row m-t-5">
                        <div class="col-md-12 m-b-0 t-right">
                            <span class="text-danger cancel-link" ng-click="limparPesquisa()">
                                <span>Cancelar Filtros</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </uib-accordion>
</div>

<div class="col-md-12">
    <div class="row">
        <uib-accordion close-others="true">
            <div uib-accordion-group class="panel-default panel-grid" heading="Prévia do Relatório" is-open="true">
                <div class="row">
                    <div class="col-md-12">
                        <div ng-if="arrRegistros !== null">
                            <div ng-repeat="(codProduto, arrItens) in arrRegistros" class="m-t-10">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4 class="text-left text-produto">
                                            <span class="text-left">{{codProduto}} - {{arrItens[0].ite_pro_descricao}}</span>
                                            <!-- <span class="text-left m-l-5">(CFOP {{arrItens[0].ite_cfo_cfop}})</span> -->
                                        </h4>
                                    </div>
                                    <!--
                                        <div class="col-md-4">
                                            <h4 class="text-right text-saldo">
                                                <span>Saldo Inicial:</span>
                                                <span get-estoque="arrItens" value="{{arrItens[0].sal_qtd_inicial}}"></span>
                                            </h4>
                                        </div>
                                    -->
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table table-hover font-mini m-b-0">
                                            <colgroup>
                                                <col width="8%">
                                                <col width="10%">
                                                <col width="20%">
                                                <col width="10%">
                                                <col width="20%">
                                                <col width="10%">
                                                <col width="10%">
                                                <col width="14%">
                                            </colgroup>
                                            <thead>
                                                <tr>
                                                    <th>Data</th>
                                                    <th>DOC</th>
                                                    <th>Descrição</th>
                                                    <th>Operação</th>
                                                    <th>Produto</th>
                                                    <th class="text-right">Quantidade</th>
                                                    <th class="text-right">Vlr. Unit.</th>
                                                    <th class="text-right">Vlr. Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in arrItens">
                                                    <td>{{item.ite_dat_lan | dateFormat}}</td>
                                                    <td>{{item.fin_doc_nro}}</td>
                                                    <td>
                                                        <span ng-switch on="item.ite_6020_natureza">
                                                            <small ng-switch-when="15">{{item.fin_comentario}}</small>
                                                            <small ng-switch-when="16">{{item.fin_comentario}}</small>
                                                            <small ng-switch-default>{{item.cad_nome_razao}}</small>
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span ng-switch on="item.ite_6020_natureza">
                                                            <small ng-switch-when="1">VENDA</small>
                                                            <small ng-switch-when="2">COMPRA</small>
                                                            <small ng-switch-when="3">DEV. VENDA</small>
                                                            <small ng-switch-when="4">DEV. COMPRA</small>
                                                            <small ng-switch-when="5">OUT. SAÍDAS</small>
                                                            <small ng-switch-when="6">OUT. ENTRADAS</small>
                                                            <small ng-switch-when="15">SAI. INSUMOS</small>
                                                            <small ng-switch-when="16">ENT. PRODUÇÃO</small>
                                                        </span>
                                                    </td>
                                                    <td>{{item.ite_pro_descricao}}</td>
                                                    <td class="text-right">
                                                        <span ng-if="item.ite_6020_natureza == 2 || item.ite_6020_natureza == 3 || item.ite_6020_natureza == 6 || item.ite_6020_natureza == 16">+</span>
                                                        <span ng-if="item.ite_6020_natureza == 1 || item.ite_6020_natureza == 4 || item.ite_6020_natureza == 5 || item.ite_6020_natureza == 15">–</span>
                                                        <span get-estoque="item" value="{{item.ite_pro_qtd}}"></span>
                                                        <span>{{item.ite_pro_unidade}}</span>
                                                    </td>
                                                    <td class="text-right">{{item.ite_vlr_uni_bruto | currency}}</td>
                                                    <td class="text-right">{{item.ite_vlr_uni_bruto * item.ite_pro_qtd | currency}}</td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th colspan="5" class="va-top">&nbsp;</th>
                                                    <th colspan="3">
                                                        <span class="row-total">
                                                            <span class="row-label">Saldo Final</span>
                                                            <span class="row-info row-saldo">{{::getSaldoFinal(codProduto)}}</span>
                                                        </span>
                                                    </th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h5 class="text-right text-footer">
                                        <strong>Saldo Total:</strong>
                                        <span>{{totalizarSaldo()}}</span>
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <div ng-if="arrRegistros === null">
                            <div class="alert alert-warning alert-fade m-b-0">
                                <i class="fa fa-info-circle fa-2x p-r-10"></i>
                                <span class="alert-texto">Nenhum registro encontrado!</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </uib-accordion>
    </div>
</div>
